.annot8-canvas-svg {
  --border: 2px solid red;
}
.annot8-canvas-html {
  --border: 2px solid blue;
}
.annot8-hl {
  fill:yellow;
  fill-opacity:0.4;
  stroke:0;
  background-color:yellow;
  opacity: 0.4;
}
.annot8-hl.annot8-active {
  fill:yellow;
  fill-opacity:0.8;
  stroke:0;
  background-color:yellow;
  opacity: 0.8;
}
.annot8-hl-green {
  fill:green;
  fill-opacity:0.4;
  stroke:0;
  background-color:green;
  opacity: 0.4;
}
.annot8-hl-green.annot8-active {
  fill:red;
  fill-opacity:0.8;
  stroke:0;
  background-color:green;
  opacity: 0.8;
}
.annot8-button {
  font-size: 12pt;
  padding: 8px;
  border-radius: 6px;
  border: 0px;
  --background-color: gainsboro;
}
.annot8-toolbar-container {
  width: 100%;
  text-align: center;
  --border: 2px solid red;
}
.annot8-toolbar {
  display: block;
  min-width: 200px;
  --padding: 4px;
  --border: 2px solid red;
  --background-color: #c0c0c0;
  transition: opacity 250ms;
}
.annot8-toolbar-inner {
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  background-repeat: repeat-x;
  display: inline-block;
  border-radius: 5px;
  height: 38px;
  --border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.annot8-toolbar-button {
  display: inline-block;
  overflow: hidden;
  background: transparent;
  color: #fff;
  width: 40px;
  height: 28px;  
  padding-top: 8px;
  padding-bottom: 4px;
  border: 0px;
  --border:1px solid red;
}
.annot8-toolbar-icon {
  color: #fff;
  fill: #fff;
  display: inline-block;
}
.annot8-disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  /*pointer-events:none;*/
}